name: Lua Type Check
on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  build:
    name: Lua Type Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Type Check Code Base
        uses: mrcjkb/lua-typecheck-action@v0.1.2
